/vendor/
/composer.lock
.env*
storage/
bootstrap/cache/
.phpunit.result.cache
coverage/
.php-cs-fixer.cache
.phpstorm.meta.php
pint.json
*.phar
*.log
*.cache
*.tmp
*.swp
docker/mysql-data/
docker/pg-data/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
desktop.ini