APP_ENV=local
APP_KEY=base64:demo
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=lookup
LOOKUP_DB=sqlite

SHARD0_HOST=shard0
SHARD0_DB=shard0
SHARD0_USER=root
SHARD0_PASS=root
SHARD0_REPLICA_HOST=replica1

SHARD1_HOST=shard1
SHARD1_DB=shard1
SHARD1_USER=root
SHARD1_PASS=root

SCALABLE_DB_SEEDER=Database\Seeders\DatabaseSeeder

REPLICA1_HOST=replica1
REPLICA1_DB=replica1
REPLICA1_USER=root
REPLICA1_PASS=root
